# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env

# Docker
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Airflow
logs/
airflow.db
airflow.cfg
webserver_config.py.bak
